{% load static %}
<script type="text/javascript" src="{% static 'javascripts/cogsg.config.js'%}"></script>
<script type="text/javascript" src="{% static 'javascripts/cogsg.routes.js'%}"></script>
<script type="text/javascript" src="{% static 'javascripts/attandance/attandance.module.js'%}"></script>
<script type="text/javascript" src="{% static 'javascripts/attandance/services/attandance.service.js'%}"></script>
<script type="text/javascript" src="{% static 'javascripts/attandance/controllers/register.controller.js'%}"></script>